body {
    margin: 0;
    overflow: hidden;
}

/* Custom Classes */



/* Main Container */

.main-container {
    width: 100vw;
    height: 100vh;
    background-color: #ccc;
    cursor: crosshair;
}

.thing-one {
    position: relative;
    display: inline-block;
    width: 10vw;
    height: 10vw;
    background-image: url("img/bomb.gif");
    background-size: cover;
}

.thing-one-hitbox {
    height: .25vw;
    width: .25vw;
}

.thing-two {
    margin-left: 20% ;
    display: inline-block;
    width: 2%;
    height: 100%;
    background-color: #000;
}

.falling-container {
    padding: 0 2%;
    width: 95.5%;
    height: .25vw;
}

/* Hearts */

.heart-img {
    display: inline-block;
    height: 4vw;
    width: 4vw;
    background-image: url('img/heart.png');
    background-size: cover;
}

.right-align {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 4vw;
    padding-right: 5vw;
    background-color: #ccc;
    border-bottom: 4px solid #aaa;
}

/* SCORES */

.scoreboard {
    font-size: 3vw;
    margin-right: 3vw;
}

.score {

}