@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    margin: 0;
    overflow: hidden;
}

/* Custom Classes */



/* Main Container */

.main-container {
    width: 100vw;
    height: 100vh;
}

.thing-one {
    position: relative;
    display: inline-block;
    width: 10vw;
    height: 10vw;
    background-image: url("img/lvl1/bomb.gif");
    background-size: cover;
    z-index: 2;
}

.thing-one-hitbox {
    height: .25vw;
    width: .25vw;
}

/* DOES NOT GET HITBOX */
.red-potion {
    position: relative;
    display: inline-block;
    width: 5vw;
    height: 5vw;
    background-image: url("img/red_potion.gif");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

.falling-container {
    padding: 0 2%;
    width: 95.5%;
    height: .25vw;
}

/* Hearts */

.heart-img {
    display: inline-block;
    height: 4vw;
    width: 4vw;
    background-image: url('img/heart.png');
    background-size: cover;
}

.heart-img-wrapper {
    display: inline-block;
}

.right-align {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 4vw;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background: #ff3fff60;
    background: -webkit-linear-gradient(top left, #FF3FFF60, #FCC2DF60);
    background: -moz-linear-gradient(top left, #FF3FFF60, #FCC2DF60);
    background: linear-gradient(to bottom right, #FF3FFF60, #FCC2DF60);
}

/* SCORES */

.scoreboard {
    font-family: "Kaushan Script", cursive;
    font-size: 3vw;
    margin-right: 3vw;
}

.score {

}